.storie-container {
    display: flex; 
    justify-content: center;
    align-items: flex-start; 
    text-align: left;
    max-width: 60%;
    margin: 0 auto;
    padding-top: 130px;
  }
  
  .storie-content {
    width: 70%;
    padding: 20px;
    border: 1px solid #ddd;
    margin-right: 20px;
  }