.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center vertically */
  margin-bottom: 25px;
  background-color: rgb(33, 32, 32);

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 0; /* Remove padding */
    display: flex;
    align-items: center; /* Center vertically */
    padding-left: 20px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      color: white;
    }
  }
}